.MuiOutlinedInput-notchedOutline {
  border-color: #cecece !important;
}
.MuiInputLabel-root {
  color: #fff !important;
}
.slick-initialized .slick-slide {
  display: inline-grid;
  align-content: space-between;
}
.slick-slide {
  float: none;
}
.slick-list {
  padding: 1px;
}
