.explore-button {
  text-transform: capitalize;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.46);
}
.explore-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.homeImageDiv {
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 521px;
  background-image: url("../../assets/images/home.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.homeImageText {
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 100%;
}
.mainPhotoGrid {
  width: 60%;
  padding: 10px;
}
.nextButton {
  background-color: white;
}

.reservationGrid {
  width: 40%;
  border: 1px solid black;
}
